# Introdução à Ciência de Dados - UFPB
Aluno: Jonas Pereira de Oliveira


##  Ranking

- Sugestão de **raking incial** para os filmes a partir de um índice de **qualidade** definido pela combinação linear
de variáveis da tabela de movies.csv como descrito abaixo.
A ideia é propor um valor para qualidade do filme para servir como "habilidade" **para utilização do Elo Ranking**.

In [1]:
import pandas as pd
from sklearn import preprocessing

In [2]:
import numpy as  np

In [3]:
df = pd.read_csv("datasets/movies.csv")

In [4]:
# Para criação do ranking escolhemos algumas colunas para 
# serem utilizadas como indicadores de qualidade para calcular o Elo ranking
corr = df[['Title','Worldwide Gross','Production Budget','IMDB Rating','IMDB Votes']].corr()

corr.style.background_gradient(cmap='coolwarm')

In [5]:
df = df[['Title','Worldwide Gross','Production Budget','IMDB Rating','IMDB Votes']]
df.dropna(inplace=True)

In [6]:
x = df[['Worldwide Gross','Production Budget','IMDB Rating','IMDB Votes']]
x.values

array([[1.46083000e+05, 8.00000000e+06, 6.10000000e+00, 1.07100000e+03],
       [1.08760000e+04, 3.00000000e+05, 6.90000000e+00, 2.07000000e+02],
       [2.03134000e+05, 2.50000000e+05, 6.80000000e+00, 8.65000000e+02],
       ...,
       [1.25061880e+07, 3.50000000e+07, 3.40000000e+00, 7.42400000e+03],
       [1.41475336e+08, 8.00000000e+07, 5.70000000e+00, 2.11610000e+04],
       [2.33700000e+08, 6.50000000e+07, 6.70000000e+00, 4.78900000e+03]])

In [7]:
# Normalizar os dados para que nenhuma variável seja mais importante do que outra
x_scaled = preprocessing.MinMaxScaler().fit_transform(x.values)

In [8]:
# Utilizando uma combinação linear das caracteristicas para criar um variável que indica a qualidade
quality = np.sum(x_scaled,axis=1)
df2 = df
df2['Quality'] = quality

In [9]:
df2.head(3)

,Title,Worldwide Gross,Production Budget,IMDB Rating,IMDB Votes,Quality
0,The Land Girls,146083.0,8000000.0,6.1,1071.0,0.631310
1,"First Love, Last Rites",10876.0,300000.0,6.9,207.0,0.706495
2,I Married a Strange Person,203134.0,250000.0,6.8,865.0,0.694844

**Ordenando pela  qualidade temos o ranking inicial dado abaixo**.

In [11]:
df2[['Title','Quality']].sort_values('Quality',ascending=False)

                                                  Title   Quality
1234                                             Avatar  3.177810
1266                                    The Dark Knight  2.842581
2970                                            Titanic  2.565040
2202      The Lord of the Rings: The Return of the King  2.372154
2203  The Lord of the Rings: The Fellowship of the Ring  2.371594
...                                                 ...       ...
452                                              Hybrid  0.103986
1754                               From Justin to Kelly  0.101254
1247                      Super Babies: Baby Geniuses 2  0.090876
1515                                          Crossover  0.073996
406                                The Helix...  Loaded  0.017055

[2981 rows x 2 columns]