# Introdução à Ciência de Dados - UFPB
Aluno: Jonas Pereira de Oliveira

## Pandas

A partir do dataset `movies.csv` utilize o Pandas para responder as seguintes perguntas:

### Qual o gênero de filme mais lucrativo em todo o mundo?

In [3]:
import pandas as pd

movies_df = pd.read_csv('datasets/movies.csv')

In [52]:
movies_df.head(2)

,Title,US Gross,Worldwide Gross,US DVD Sales,Production Budget,Release Date,MPAA Rating,Running Time (min),Distributor,Source,Major Genre,Creative Type,Director,Rotten Tomatoes Rating,IMDB Rating,IMDB Votes
0,The Land Girls,146083.0,146083.0,NaN,8000000.0,12-Jun-98,R,NaN,Gramercy,NaN,NaN,NaN,NaN,NaN,6.1,1071.0
1,"First Love, Last Rites",10876.0,10876.0,NaN,300000.0,7-Aug-98,R,NaN,Strand,NaN,Drama,NaN,NaN,NaN,6.9,207.0

In [51]:
max_gross = movies_df['Worldwide Gross'].max()
result = movies_df[movies_df['Worldwide Gross'] == max_gross]['Major Genre']

print(f"Gênero mais lucrativo:\n{result}\n\nLucro:\n{max_gross}")

Gênero mais lucrativo:
1234    Action
Name: Major Genre, dtype: object

Lucro:
2767891499.0

### Qual o diretor dirigiu mais filmes?

In [77]:
most_famous_director = movies_df['Director'].value_counts().index[0]
print(f"Diretor com mais filmes:\n# {most_famous_director}")

Diretor com mais filmes:
# Steven Spielberg

### Quais filmes tiverem os maiores arrecadações (Gross) em relação ao orçamento de produção (Budget)?

In [103]:
movies_df['Final Gross'] =  movies_df['Worldwide Gross'] - movies_df['Production Budget']
movies_df.sort_values(by='Final Gross',ascending=False)[['Title','Final Gross','Worldwide Gross','Production Budget','IMDB Rating']]

,Title,Final Gross,Worldwide Gross,Production Budget,IMDB Rating
1234,Avatar,2.530891e+09,2.767891e+09,237000000.0,8.3
2970,Titanic,1.642880e+09,1.842880e+09,200000000.0,7.4
2202,The Lord of the Rings: The Return of the King,1.039027e+09,1.133027e+09,94000000.0,8.8
485,Jurassic Park,8.600679e+08,9.230679e+08,63000000.0,7.9
1975,Harry Potter and the Sorcerer's Stone,8.514579e+08,9.764579e+08,125000000.0,7.2
...,...,...,...,...,...
404,Hell's Angels,NaN,NaN,4000000.0,7.9
467,Intolerance,NaN,NaN,385907.0,NaN
1025,Waterloo,NaN,NaN,25000000.0,NaN
1028,Wings,NaN,NaN,2000000.0,7.9
1271,Baby Mama,NaN,6.439148e+07,NaN,6.1